---
layout: default
title: Photography - bdharva
---
<div class="section hero" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('/assets/heros/photos.jpg');">
	<div class="content full">
		<i class="material-icons md-24">photo_camera</i>
		<h1>Photography</h1>
		<h2>Sharing the world through my lens.</h2>
	</div>
</div>
<div class="section medium">
	<div class="content max">
		<div class="features">
			{% for post in site.categories.photography %}
			<div class="feature">
				<a href="{{ post.url }}">
					<div class="image-holder">
						<div class="image" style="background-image:url('/assets/photography/{{post.date | date: '%Y'}}/{{post.date | date: '%m'}}/{{post.date | date: '%d'}}-{{ post.name }}/{{ post.name }}-{{ post.thumbnail }}.jpg'); {% if post.position %}background-position: {{ post.position }}{% endif %}"></div>
					</div>
					<div class="text">
						<div class="label"><i class="material-icons md-24">place</i>{{post.location}}</div>
						<div class="title">{{post.title}}</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
