<footer>
	<div class="footer-inner">
		<a href="/" class="footer-logo"><img src="/assets/favicon.png" alt="bdharva"/>bdharva</a>
		<span class="footer-copyright">&copy; {{ site.time | date: '%Y' }} Ben Harvatine</span>
		<div class="footer-social">
			<a href="https://github.com/bdharva" target="_blank" rel="noopener">GitHub</a>
			<a href="https://www.instagram.com/bdharva/" target="_blank" rel="noopener">Instagram</a>
			<a href="https://twitter.com/bdharva" target="_blank" rel="noopener">X</a>
		</div>
	</div>
</footer>
