<header>
	<nav class="left">
		<a href="/">Ben Harvatine</a>
	</nav>
	<nav class="right">
		<li>
			<a href="/about" {% if page.title == "About - bdharva" %}class="active"{% endif %}>About</a>
		</li>
		<li>
			<a href="/work" {% if page.title == "Projects - bdharva" %}class="active"{% endif %}>Work</a>
		</li>
		<li>
			<a href="/blog" {% if page.title == "Blog - bdharva" %}class="active"{% endif %}>Blog</a>
		</li>
		<li>
			<a href="/photos" {% if page.title == "Photography - bdharva" %}class="active"{% endif %}>Photos</a>
		</li>
	</nav>
</header>
