<div class="mobile-menu" id="mobileMenu">
	<a href="/" {% if page.title == "bdharva" %}class="active"{% endif %}>
		<i data-lucide="home"></i><span>Home</span>
	</a>
	<a href="/about" {% if page.title == "About - bdharva" %}class="active"{% endif %}>
		<i data-lucide="user"></i><span>About</span>
	</a>
	<a href="/making" {% if page.title == "Making - bdharva" %}class="active"{% endif %}>
		<i data-lucide="hammer"></i><span>Making</span>
	</a>
	<a href="/thinking" {% if page.title == "Thinking - bdharva" %}class="active"{% endif %}>
		<i data-lucide="book-open"></i><span>Thinking</span>
	</a>
	<a href="/living" {% if page.title == "Living - bdharva" %}class="active"{% endif %}>
		<i data-lucide="mountain-snow"></i><span>Living</span>
	</a>
</div>
