<div class="banner fixed">
	<header>
		<div class="wrapper">
			<nav class="left">
				<li>
					<a href="/">bdharva</a>
				</li>
			</nav>
			<nav class="right">
				<li class="hide">
					<a href="/about" {% if page.title == "About - bdharva" %}class="active"{% endif %}>About</a>
				</li>
				<li class="hide">
					<a href="/work" {% if page.title == "Projects - bdharva" %}class="active"{% endif %}>Work</a>
				</li>
				<li class="hide">
					<a href="/blog" {% if page.title == "Blog - bdharva" %}class="active"{% endif %}>Blog</a>
				</li>
				<li class="hide">
					<a href="/photos" {% if page.title == "Photography - bdharva" %}class="active"{% endif %}>Photography</a>
				</li>
				<li class="hide">
					<a href="/highpoints" {% if page.title == "Highpoints - bdharva" %}class="active"{% endif %}>Highpoints</a>
				</li>
				<li>
					<i id="showmenu" class="material-icons md-24">menu</i>
				</li>
			</nav>
		</div>
	</header>
</div>