<div class="tagfeature">
	{% for tag in page.tags %}
	{% for post in site.posts %}
	{% if post.tags contains tag %}
	{% if post.url != page.url %}
	<div class="card-holder wide">
		<a href="{{ post.url }}">
			<div class="card">
				<div class="picholder">
					<div class="pic" style="background-image:url('{{ post.thumbnail }}'); {% if post.position %}background-position: {{ post.position }}{% endif %}"></div>
				</div>
				<div class="details">
					<h4>{{ post.title }} - {{ post.tagline }}</h4>
				</div>
			</div>
		</a>
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}
</div>
