<div class="tagfeature">
	{% for tag in page.tags %}
	{% for post in site.posts %}
	{% if post.tags contains tag %}
	{% if post.url != page.url %}
	<div class="card-holder wide">
		<a href="{{ post.url }}">
			<div class="card">
				<div class="pic" style="background-image:url('{{ post.thumbnail }}'); {% if post.position %}background-position: {{ post.position }}{% endif %}"></div>
				<div class="details">
					<div class="label">{{ post.tags }}</div>
					<span class="tags">{{ post.date | date: "%B %-d, %Y" }}</span>
					<span class="title">{{ post.title }} - {{ post.tagline }}</span>
				</div>
			</div>
		</a>
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}
</div>
