<section class="shell">
	{% for tag in page.tags %}
	{% for post in site.posts %}
	{% if post.tags contains tag %}
	{% if post.url != page.url %}
	<div class="card">
		<a href="{{ post.url }}">
			<div class="pic" style="background-image:url('{{ post.thumbnail }}'); {% if post.position %}background-position: {{ post.position }}{% endif %}">
				<div class="screen"></div>
			</div>
			<div class="details">
				<h2>{{ post.title }}</h2>
				<h4>{{ post.tagline }}</h4>
			</div>
		</a>
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}
</section>
