---
layout: default
title: Highpoints - bdharva
---
<div id="hero" style="background-image:url('/assets/highpoints/whitney/whitney-5.jpg');">
	<div class="screen">
		<div class="content">
			<h1>State Highpoints</h1>
			<h2>50 states. 50 peaks.</h2>
		</div>
	</div>
</div>
<section class="text">
	<p>I have a goal of summiting the highest natural elevation point in all 50 states. While travelling around the country for my rotation-based training program at Anheuser-Busch, I started seeking out local highpoints as a way to get outside and explore the new places I was in. Around the same time, I was lucky enough to be picked for a charity climb of Mt. Whitney (the highest point in the lower 48 states) led by Backpacker Magazine. Between all of the training climbs and that awe-inspiring trip, I was hooked.</p>
	<div class="stats center">
		<h2 class="green">{{ site.categories.highpoints | size }}/50</h2>
		<p>peaks completed</p>
	</div>
	<div class="stats center">
		<h2 class="green">14,505'</h2>
		<p>highest elevation</p>
	</div>
	<div class="stats center">
		<h2 class="green">447'</h2>
		<p>lowest elevation</p>
	</div>
</section>
<section class="shell">
	{% for post in site.categories.highpoints %}
	<div class="card">
		<a href="{{ post.url }}">
			<div class="picholder">
				<div class="pic" style="background-image:url('{{ post.thumbnail }}'); {% if post.position %}background-position: {{ post.position }}{% endif %}"></div>
			</div>
		</a>
		<div class="detholder">
			<div class="details">
				<h4 class="no-top">{{ post.date | date: "%B %-d, %Y" }}</h4>
				<h2 class="no-top no-bottom"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
