---
layout: default
title: Blog - bdharva
---
<div class="section hero" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('/assets/heros/blog.jpg');">
	<div class="content full">
		<i class="material-icons md-24">edit_note</i>
		<h1>Posts</h1>
		<h2>Sharing my travels, tinkering, and thoughts.</h2>
	</div>
</div>
<div class="section medium">
	<div class="content max">
		<div class="features" style="flex-flow: row wrap">
			{% for post in site.categories.blog %}
			<div class="feature" style="flex: 1 0 26%;">
				<a href="{{ post.url }}">
					<div class="image-holder">
						<div class="image" style="background-image:url('{{ post.thumbnail }}'); {% if post.position %}background-position: {{ post.position }}{% endif %}"></div>
					</div>
					<div class="text">
						<div class="label">
							<i class="material-icons md-24">
								{% if post.tag == "Data Visualization" %}
								bubble_chart
								{% elsif post.tag == "Tinkering" %}
								settings
								{% elsif post.tag == "Entrepreneurship" %}
								rocket_launch
								{% elsif post.tag == "Programming" %}
								code
								{% endif %}
							</i>{{post.tag}}
						</div>
						<div class="title">{{post.title}}</div>
						<div class="description">{{post.tagline}}</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

