---
layout: none
title: bdharva - Automated County Counting
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="p:domain_verify" content="963fb8b6037d52bd2cc58e579956670e"/>
		<title>bdharva -- {{ page.title }}</title>
		<meta name="description" content="{% if page.tagline %}{{ page.tagline }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
		<script src="https://unpkg.com/topojson-client@3"></script>
		<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-29707122-2', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<!DOCTYPE html>
		{% include menu.html %}
		{% include header.html %}
		<div class="scroll-content">
			<div class="section center">
				<div class="content full">
					<h2>Automated County Counting</h2>
					<p style="font-style: italic; font-size: 12px; max-width: 400px; margin: 16px auto;">[Work in Progress] Data from Google location history (2014 to present), crunched using GeoPandas, visualized with D3. Detailed write-up to follow, once map formatting/interactions have been refined.</p>
					<div class="chart" id="slider"></div>
					<div class="chart" id="legend"></div>
					<div class="chart" id="map"></div>
				</div>
			</div>
			{% include footer.html %}
		</div>
  </body>
  	<script src="/js/scripts.js"></script>
	<script src="js/map.js"></script>
</html>
