---
layout: work
---

<div class="archive section">
    <div class="text container">
        <h1>Current Projects</h1>
        {% for post in site.categories.current %}
        <div class="text container">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h3>{{ post.summary }}</h3><h4>{{ post.date || date:"%A, %B %d, %Y" }}</h4>
        </div>
        {% endfor %}</h3>
    </div>
    <div class="text container">
        <h1>Recent Work</h1>
        {% for post in site.categories.completed limit:6 %}
        <div class="text container">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h3>{{ post.summary }}</h3><h4>{{ post.date || date:"%A, %B %d, %Y" }}</h4>
        </div>
        {% endfor %}</h3>
    </div>
    <div class="text container">
        <h1>Photography</h1>
        <h4>Gallery pages coming soon!</h4>
        {% for post in site.categories.photography %}
        <div class="text container">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h3>{{ post.summary }}</h3><h4>{{ post.date || date:"%A, %B %d, %Y" }}</h4>
        </div>
        {% endfor %}
    </div>
</div>