---
layout: work
---

<div class="section">
    <div class="text container">
        <h1>Current Projects</h1>
        {% for post in site.categories.current %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2><h3>{{ post.tags | array_to_sentence_string }}</h3>
        {% endfor %}
    </div>
</div>

<div class="dark section">
    <div class="text container">
        <h1>Recent Work</h1>
        {% for post in site.categories.completed limit:5 %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2><h3>{{ post.tags | array_to_sentence_string }}</h3>
        {% endfor %}
    </div>
</div>
    
<div class="section">
    <div class="text container">
        <h1>Photography</h1>
        {% for post in site.categories.photography %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2><h3>{{ post.tags | array_to_sentence_string }}</h3>
        {% endfor %}
    </div>
</div>