<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic" rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="nav section">
            <div class="nav container">
                <ul class="nav left">
                    <li><a href="/">bdharva</a></li>
                </ul>
                <ul class="nav right">
                    <li><a href="/">Bio</a></li>
                    <li><a href="/work">Work</a></li>
                    <li class="active"><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="shadow section"></div>
        <div id="wrapper">
            {{ content }}
            <a href="/blog/archive/index.html">
            <div class="section">
                <div class="text container">
                    <h4><a href="/blog/archive">Blog Archive</a></h4>
                </div>
            </div>
            </a>
            <div class="contact section">
                <span class="contact container"><a href="mailto:bdharva@alum.mit.edu">
                    Email</a> ... <a href="http://www.twitter.com/bdharva">Twitter</a> ... <a href="http://www.linkedin.com/in/bdharva">LinkedIn</a></span>
            </div>
        </div>
    </body>
</html>
