<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ page.stylesheet }}">
	</head>
	<body>
		<!-- {% include menu.html %} -->
		{% include header.html %}
		<div id="wrapper">
			<div class="section hero" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('{{ page.thumbnail }}');">
				<div class="content full">
					<i class="material-icons md-24">construction</i>
					<h3>{{page.tag}}</h3>
					<h1>{{page.title}}</h1>
					<h2>{{page.tagline}}</h2>
				</div>
			</div>
			<div class="section medium">
				<div class="content">
					{{ content }}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
	{% include d3_foot.html %}
	<script src="{{ page.script }}"></script>
</html>
