---
layout: default
---
<div class="section hero" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('/assets/making/{{page.name}}/{{ page.name }}-{{ page.thumbnail_file }}.webp');">
	<div class="content full">
		<h1>{{page.title}}</h1>
		<h2>{{page.tagline}}</h2>
		<span class='tictactag'><i data-lucide="{% if page.tag == "Data Visualization" %}bar-chart-3{% elsif page.tag == "Product Development" %}settings{% elsif page.tag == "Web Development" %}monitor{% elsif page.tag == "Graphic Design" %}palette{% elsif page.tag == "Rapid Prototyping" %}zap{% elsif page.tag == "DIY" %}hammer{% elsif page.tag == "Architecture & Construction" %}building{% elsif page.tag == "Vehicles" %}car{% else %}circle{% endif %}"></i>{{page.tag}}</span>
	</div>
</div>
<div class="section medium">
	<div class="content max">
		{{content}}
		<div class="grid_gallery">
			{% assign num = page.files %}
			{% for i in (1..num) %}
			<img src="/assets/making/{{page.name}}/{{ page.name }}-{{ i }}.webp" loading="lazy"/>
			{% endfor %}
		</div>
	</div>
</div>
