<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/sub.css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
	      	<div class="nav">
	      		<ul class="icons left">
	      			<li class="labeled icon">
	      				<a href="/"><div class="icon home"></div></a>
	      			</li>
	      		</ul>
	      		<ul class="icons right">
	          		<li class="labeled icon">
	            		<a href="/work/"><div class="icon work"></div></a>
	          		</li>
	          		<li class="labeled icon">
	            		<a href="/photos/"><div class="icon photos"></div></a>
	          		</li>
	          		<li class="labeled icon">
	            		<a href="/fun/"><div class="icon fun"></div></a>
	          		</li>
	        	</ul>
	      	</div>
	      	<div class="wrapper">
	      		<img src="{{ page.picture }}"/>
	      	</div>
        </div>
    </body>
</html>
