---
layout: noheader
---

<section class="leftpane">
	{% include header.html %}
	<h1>{{page.title}}</h1>
	<h3>{{page.tagline}}</h3>
	<h4>{{page.date | date: "%B %-d, %Y"}}</br>in "{{page.tags}}"</h4>
	<h3><a href="/work">More projects by bdharva</a></h3>
	<h3><a href="http://twitter.com/intent/tweet?text=Cool%20project%20by%20@bdharva%20%22{{ page.title | replace: ' ', '%20' | replace: '</br>', ' ' }}%20-%20{{ page.tagline | replace: ' ', '%20' | replace: '</br>', ' ' }}%22%20http://www.bdharva.com{{ page.url }}" target="_blank">Share on Twitter</a></h3>
</section>
<section class="rightpane text">
	{{ content }}
</section>
