---
layout: default
---
<div class="section hero" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('{{ page.thumbnail }}');">
	<div class="content full">
		<h1>{{page.title}}</h1>
		<h2>{{page.tagline}}</h2>
		<span class='tictactag'><i class="material-icons md-24">
			{% if page.tag == "Data Visualization" %}
			bubble_chart
			{% elsif page.tag == "Product Development" %}
			settings
			{% elsif page.tag == "Web Development" %}
			devices
			{% elsif page.tag == "Graphic Design" %}
			color_lens
			{% elsif page.tag == "Rapid Prototyping" %}
			bolt
			{% elsif page.tag == "DIY" %}
			carpenter
			{% elsif page.tag == "Architecture & Construction" %}
			villa
			{% elsif page.tag == "Vehicles" %}
			directions_car
			{% endif %}
		</i>{{page.tag}}</span>
	</div>
</div>
<div class="section medium">
	<div class="content">
		{{ content }}
	</div>
</div>